{# templates/content/about_us/index.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}{{ page_title }}{% endblock %}
{% block page_content %}
    <main class="main-content col" id="content" role="main">
        <section class="section">
            <h1>{{ page_title }}</h1>
            <div class="content-top">
                <p>{{ page.content.text }}</p>
            </div>
        </section>
    </main>
{% endblock %}