{# templates/admin_dashboard/index.html.twig #}
{% extends '@EasyAdmin/page/content.html.twig' %}
{% block page_title %}{{ page_title }}{% endblock %}
{% block content_title %}{{ page_title }}{% endblock %}
{% block main %}
   <h1>{{ 'hello'|trans }}</h1>
{% endblock %}
